<html lang='en'>
<head>
  <title>Ecolirb</title>
  <script src='http://d3js.org/d3.v3.min.js'></script>
  <script src='https://rawgit.com/domitry/Ecolijs/master/release/ecoli.min.js'></script>
</head>
<body>
<div id='vis-<%= id %>'></div>
<script>
model = <%= model %>
window.onload = function(){Ecoli.core.parse(model, '#vis-<%= id %>');};
</script>
</body>
</html>
