<div id='vis-<%= id %>'></div>
<script>
 require.config({paths: {
   Nyaplot: "<%= PATH_NYAPLOT %>"
 }});

 require(["Nyaplot"], function(Nyaplot){
   Nyaplot.core.parse('#vis-<%= id %>', <%= model %>);
 });
</script>
