<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Created with Nyaplot</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
  </head>
  <body><%= body %></body>
</html>
